*{
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
}

.activeLink{
	color: red;
}

a{
	text-decoration: none;
	color: gray;
}

.centered{
	text-align: center;
}

.slide-enter-active {
transition: all .3s ease;
}
.slide-leave-active {
transition: all .8s ease-in-out;
}
.slide-enter-from, .slide-leave-to {
transform: translateX(10px);
opacity: 0;
} 